@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html, body{
    min-width: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    /* Duas opções de deixar a leta maiuscula */
    /*
     text-transform: uppercase;
     ou
      font-variant: small-caps;
     */
     font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
    padding-top: 10px;

}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
    color: blueviolet;

}
section{
    /* font-size:20px; */
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(56, 55, 55);
    color: white;
}
section.imagem p{
    background-color: rgba(0, 0, 0, 0.096);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
